<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dorageecorp.mapper.MainMapper">
	<select id="selectTotalProjects" resultType="org.dorageecorp.com.main.model.ProjectModel">
		SELECT pjt_seq 		AS sequence
			 , pjt_addr_id 	AS addressId
			 , pjt_nm 		AS name
			 , (
				SELECT user_nm
			      FROM t_user
				 WHERE user_id = p.pjt_mgr
			 ) 				AS managerName
	  	  FROM t_pjt p
		 ORDER BY p.pjt_seq DESC		
	</select>
	
	<select id="selectMyProjects" resultType="org.dorageecorp.com.main.model.ProjectModel">
		SELECT a.*
		  FROM (
					SELECT
						   (
								SELECT pjt_seq
							      FROM t_pjt
								 WHERE pjt_addr_id = tpu.pjt_addr_id
						   ) AS sequence
						 , 
						   (	
								SELECT pjt_addr_id 
							      FROM t_pjt
								 WHERE pjt_addr_id = tpu.pjt_addr_id
						   ) AS addressId
						 ,
						   (
								SELECT pjt_nm
							      FROM t_pjt
								 WHERE pjt_addr_id = tpu.pjt_addr_id
					       ) AS name
						 ,
						   (
								SELECT (
											SELECT user_nm
							                  FROM t_user
											 WHERE user_id = p.pjt_mgr
									   )
							      FROM t_pjt p
								 WHERE p.pjt_addr_id = tpu.pjt_addr_id
							) AS managerName
						 ,
						   (	
								SELECT role_nm
							      FROM t_role
								 WHERE role_cd = tpu.user_role
						   ) AS myRole
					 FROM t_pjt_user tpu	
					WHERE tpu.user_id = #{userId}
			    ) a
		  ORDER BY a.sequence DESC
	</select>
</mapper>