<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dorageecorp.mapper.UserMapper">
	<select id="isValidUser" resultType="java.lang.Boolean">
		SELECT COUNT(1)
		  FROM t_user
		 WHERE user_id = #{id}
		   AND pwd = #{password}
	</select>
	
	<select id="isDuplicationID" resultType="java.lang.Boolean">
		SELECT COUNT(1)
		  FROM t_user
		 WHERE user_id = #{id}
	</select>
	
	<select id="insertUser" resultType="java.lang.Boolean">
		INSERT INTO t_user
		VALUES
		(
			  #{id}
			, #{name}
			, #{nick}
			, #{password}
			, #{id}
			, now()
			, #{id}
			, now()
		)
	</select>	
</mapper>